/* Ingredients Section */
#ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingre {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    height: 250px;
}

.ingre-image {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.ingre-info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    transition: all 0.3s;
}

.ingre-info p {
    font-size: 28px;
    color: #ffffff;
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
}

.ingre-info:hover {
    background: rgba(0,0,0,0.25);
}

.ingre-info:hover p {
    transform: translateY(10px);
}


@media screen and (max-width: 650px) {
    .ingre-info .text-ingre {
        display: none;
    }
} 