/* Products Slider */
#productsMenu .main-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

.main-wrapper #btnLeft,
.main-wrapper #btnRight {
    position: absolute;
    height: 10%;
    width: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 40px;
    margin: 0 15px;
    color: var(--secundary-color);
    z-index: 500;
    outline: none;
    transition: all 0.3s;
}

.main-wrapper #btnLeft:hover,
.main-wrapper #btnRight:hover {
    background: var(--shadow-background-color);
    transform: translateY(5px);
}

.main-wrapper #btnLeft {
    left: 0;
}

.main-wrapper #btnRight {
    right: 0;
}

.slider {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 80px);
    scroll-behavior: smooth;
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    flex-shrink: 0;
}

.products-description {
    width: 30%;
}

.products-description h1 {
    font-size: 5vw;
    font-weight: 600;
    text-transform: uppercase;
}

.products-description h2 {
    text-transform: lowercase;
    font-size: 2.2vw;
    font-weight: 100;
}

.products-description p {
    color: var(--text-color);
    font-style: italic;
    text-align: justify;
}

.products-imagen {
    width: 50%;
    display: flex;
    justify-content: center;
}

.products-imagen img {
    width: 100%;
    transform: scale(1.1);
    transition: all 0.3s;
}

.products-container:hover .products-imagen img {
    transform: scale(1.15);
} 


@media screen and (max-width: 850px) {
    .products-container {
        flex-direction: column;
    }

    .products-description {
        width: 70%;
        order: 1;
    }

    .products-description .btn {
        padding: 10px 20px;
    }

    .products-description .btn:hover {
        padding: 10px 30px;
    }
}

@media screen and (max-width: 650px) {
    .slider {
        height: 100vh;
    }

    .products-imagen {
        width: 65%;
    }

    .products-description h1 {
        font-size: 7vw;
    }

    .products-description h2 {
        font-size: 3vw;
    }
} 