/* Team Section */
#team {
    height: 100vh;
    display: flex;
}

.person {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
}

.person:hover {
    flex-grow: 3;
}

.person-image {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    filter: grayscale(80%);
}

.person:hover .person-image {
    filter: grayscale(0%);
}

.person-info {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.1s;
}

.person:hover .person-info{
    opacity: 1;
    bottom: 60px;
    transition-delay: 0.5s;
}

.person-info h2 {
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.person-info p {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.social-media a {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #ffffff;
    background: var(--secundary-color);
    line-height: 40px;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
}

.social-media a:hover {
    color: var(--secundary-color);
    background: transparent;
    transform: scale(2);
} 